@charset "utf-8";
/* CSS Document */

body
{
	background-color:#000;
	font-family: 'Proxima Nova Rg';
	/*display:none;*/
}
html {
    scroll-behavior: smooth !important;
}
a.navbar-brand img {
    max-width: 50px;
}
a:hover
{
	text-decoration:none;
}
.nav-item a {
    color: #fff !important;
    letter-spacing: 0.5px;
    padding: 0;
    margin-bottom: 10px;
}
.nav-item:last-child a {
    margin-bottom: 0;
}
.fix-header {
    position: fixed;
    z-index: 999;
    background: #000;
    width: 100%;
}
header nav.navbar {
    z-index: 9;
    background: #000;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
}
.navbar-collapse { 
    position: absolute;
    right: 0;
    left: 0;
    top: 85px;
    width: 92%;
    margin: 0 auto;
    z-index: 12;
    transition: all 0.5s;
}
.navbar-nav{
	background: rgb(238,80,51);
    background: linear-gradient(90deg, rgba(238,80,51,1) 0%, rgba(118,195,97,1) 100%);
    padding: 10px;
    transition: all 0.5s;

}
.navbar-dark .navbar-toggler-icon
{
	background-image:url(../images/humberger.png);
	    background-size: contain;
}
.navbar-dark .navbar-brand {
    margin: 0 auto;
}
body *:focus
{
	outline:0;
	
}
.navbar-dark .navbar-toggler::after {content: "";background: #fff;height: 4px;position: absolute;width: 35px;left: 0;right: 0;margin: 0 auto;top: 3px;}

.navbar-dark .navbar-toggler .navbar-toggler-icon::before {content: "";width: 35px;background: #fff;height: 4px;top: 12px;position: absolute;left: -2px;margin: 0 auto;transition: all 0.5s;}

.navbar-toggler span.navbar-toggler-icon::after {
    content: "";
    width: 35px;
    background: #fff;
    height: 4px;
    top: auto;
    position: absolute;
    left: -2px;
    margin: 0 auto;
    bottom: 1px;
    transition: all 0.5s;
}
.navbar-dark .navbar-toggler.collapsed .navbar-toggler-icon::before {
	top: 12px !important;
	transform: rotate(0deg);
}
.navbar-toggler.collapsed span.navbar-toggler-icon::after {
    transform: rotate(0deg);
    bottom: 1px !important;
}
.navbar-dark .navbar-toggler.collapsed::after {
    opacity: 1;
}
button.navbar-toggler span.navbar-toggler-icon::after {
    transform: rotate(-42deg);
    bottom: 12px !important;
}

.navbar-toggler .navbar-toggler-icon::before {
    transform: rotate(44deg);
    top: 14px !important;
}

.navbar-dark .navbar-toggler::after {
    opacity: 0;
}
.navbar-dark .navbar-toggler-icon {
    background-image: none !important;
    position: relative;
}
.wrapper{
	overflow: hidden;
}
section#section0 {
    height: 100vh;
    padding-top: 25px;
}




.inner-top-image img {
    max-width: 100%;
}
.inner-top h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 50px 0 30px;
	    font-size: 36px;
}
.inner-top {
    margin-top: 50px;
}
.inner-top a {
    background-color: #f05134;
    display: block;
    text-align: center;
    color: #fff;
    padding: 6px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid #f05134;
    transition: all 0.5s;
}
.inner-top a:hover {
    background-color: transparent;
    color: #f05134;
}
.singer-sec img {
    max-width: 100%;
    position: relative;
}

.singer-sec p {
    position: absolute;
    top: 0;
    width: 50%;
    right: 12px;
    color: #fff;
    z-index: 1;
    text-align: right;
    font-size: 21px;
    font-weight: 600;
}

.singer-sec {
    position: relative;
}

.singer .container {
    padding: 0;
}

.singer-sec p a {
    display: block;
    color: #f05134;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 10px;
	    font-size: 18px;
}
section.singer {
    padding: 100px 0 30px;
}
.singer-new {
    padding-top: 30px !important;
    height: 100vh;
}
.singer-new .singer-sec p {
    font-size: 26px;
    line-height: normal;
}
.singer-new .singer-sec p a {
    font-size: 24px;
}
.sgn-bx {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
}
section.how-its-works h3 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}
section.how-its-works-new h3 {
    font-size: 41px;
}
section.how-its-works {
}

.single-hiw {
    text-align: center;
    color: #fff;
}

.single-hiw span {
    display: flex;
    width: 70px;
    height: 70px;
    border: 3px solid #3dc1c9;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    font-size: 38px;
    font-weight: 600;
    color: #3dc1c9;
}

.single-hiw h4 {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}
.single-hiw-new h4 {
    font-size: 35px;
}
.hiw-icon img {
    max-width: 100%;
}
.single-hiw-new p {
    font-size: 19px;
}
    
.hiw-icon {
    width: 70%;
    margin: 40px auto;
}

.single-hiw.hiw-2 span {
    border-color: #ef4526;
    color: #ef4526;
}

.single-hiw.hiw-3 span {
    border-color: #f3eb36;
    color: #f3eb36;
}
a.booton-sign {
    margin: 40px 0 40px;
    background-color: #f05134;
    display: block;
    text-align: center;
    color: #fff !important;
    padding: 6px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 18px;
    border: 1px solid #f05134;
    transition: all 0.5s;
}
a.booton-sign:hover {
    background-color: transparent;
    color: #f05134;
}
.com-form input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f05134;
    color: #fff;
    padding: 9px;
    border-radius: 0px;
}
.com-form input::placeholder
{
	color:#fff;
}
.box-fld {
    position: relative;
    margin: 0 0 25px;
}
.com-form label {
    color: #fff;
	    display: flex;
}
.effect ~ .focus-border{
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 0; 
	height: 1px; 
	background-color: #76c361; 
	transition: 0.4s;
}

.effect:focus ~ .focus-border{
	width: 100%; 
	transition: 0.4s;
}
.com-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
	position: absolute;
    opacity: 0;
    z-index: 99;
}
.com-form input[type="checkbox"] + span {
    display: inline-flex;
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid#f05134;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
}

.com-form input[type="checkbox"]:checked + span {
    background-color: #f05134;
    color: #fff;
}
input[type="submit"] {
    background-color: #f05134;
    display: block;
    text-align: center;
    color: #fff;
    padding: 6px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 18px;
    margin: 50px 0 40px;
}
.bottom-footer {
    text-align: center;
}

.bottom-footer p {
    color: #fff;
    letter-spacing: 0.5px;
}

.bottom-footer p a {
    color: #f05134;
    text-transform: uppercase;
}
nav.navbar h2 {
    color: #fff;
    font-weight: 600;
	margin:0;
}
.inner-page-signup nav.navbar {
    justify-content: flex-start;
    margin: 20px 0;
}

.inner-page-signup .navbar-brand {
    margin: 0;
    margin-right: 20px;
}
input#remember-me +span {
    width: 40px;
    border-radius: 30px;
    position: relative;
    border-color: #fff;
    height: 22px;
}

input#remember-me + span:after {
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    position: absolute;
    content: '';
    left: 0;
    border-radius: 100%;
    transition: all 0.3s;
}

input#remember-me:checked + span:after {
    background-color: #f05134;
    border-color: #f05134;
    transform: translateX(89%
);
}

input#remember-me:checked + span {
    background-color: #000;
    border-color: #fff;
}
.bottom-footer hr {
    border-color: #fff;
    margin: 12px;
}
body.inner-page-signin .bottom-footer {
    margin-top: 40px;
}
.inner-page-signin .navbar {
    margin: 20px auto;
}
.home-top h2 {
    color: #fff;
    font-weight: 600;
    margin: 30px 0 40px;
}

.home-top {
    text-align: center;
    margin-bottom: 90px;
}
.home-top a {
    display: block;
    border: 3px solid #3dc1c9;
    padding: 20px 30px;
    color: #3dc1c9;
    font-size: 40px;
    margin: 40px 0;
}

.home-top img {
    display: block;
    text-align: center;
    margin: 0 auto 10px;
}
.home-top a:last-child {
    border-color: #f4ed4a;
    color: #f4ed4a;
}
.single-smm {
    text-align: center;
}
.single-smm img {
    max-width: 100%;
}
.single-smm a {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #3dc1c9;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 30px;
}
.single-smm p {
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    margin: 20px 0 15px;
}
.single-smm {
    text-align: center;
    margin-bottom: 70px;
}
.single-smm:last-child a {
    border-color: #f4ed4a;
}
section.friends ul {
    padding: 0;
}
section.friends ul li img {
    width: 100%;
}
section.friends ul li {
    width: 23%;
}
section.friends h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    border-bottom: 5px solid #f05134;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
section.friends p a {
    text-transform: uppercase;
    color: #f05134;
}
section.friends p {
    text-align: center;
    color: #fff;
    margin: 30px 0;
}
.latest-kolabs h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    border-bottom: 5px solid #3dc1c9;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.klb-bx h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px;
}
section.latest-kolabs {
    margin: 0 0 40px;
}
.klb-bx h4 span {
    display: block;
    text-transform: capitalize;
}
.klb-bx img {
    width: 100%;
}
.klb-bx {
    padding: 0 14px 0 0;
}
.kolabs-sld .slick-list {
    padding-left: 0px !important;
    padding-right: 30% !important;
	transform: translate3d(-20px,0,0px);
}
.klb-bx {
    padding-right: 14px;
    width: 300px;
}
.klb-bx:nth-child(2n) {
    width: 176px;
}
.slick-arrow {
    display: none !important;
}
.single-hiw-new.hiw-2 .hiw-icon, .single-hiw-new.hiw-1 .hiw-icon {
    margin-bottom: 0;
}
div#fp-nav {
    display: none;
}
@media screen and (max-width:767px)
{
	body
	{
	display:block
	}
}
@media screen and (max-width:550px)
{
.inner-top h2 {
    margin: 30px 0 30px;
    font-size: 31px;
}
.single-hiw.single-hiw-new span {
    width: 50px;
    height: 50px;
    margin: 16px auto;
    font-size: 30px;
}
.single-hiw-new h4 {
    font-size: 28px;
}
.single-hiw-new p {
    font-size: 18px;
}
section.how-its-works-new h3 {
    font-size: 34px;
}
#section3 .fp-tableCell {
    padding-top: 40px !important;
}
.single-hiw-new.hiw-2 .hiw-icon, .single-hiw-new.hiw-1 .hiw-icon {
    margin-top: 20px;
}
.single-hiw-new .hiw-icon img {
    max-width: 160px;
}
.single-hiw-new.hiw-3 .hiw-icon {
    margin-top: 20px;
    margin-bottom: 20px;
}
.inner-top-new h2 {
    margin: 15px 0;
    font-size: 30px;
}
.inner-top-new .inner-top-image img {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.singer-new {
    padding-top: 45px !important;
}
.singer-new .singer-sec p {
    font-size: 24px;
}
.singer-new .singer-sec p a {
    font-size: 22px;
}
section#section4 {
    padding-top: 30px;
}
section#section5 {
    padding-top: 30px;
}
    }
@media screen and (max-width:420px)
{
a.booton-sign {
    margin: 0px 0 0px;
}
}
@media screen and (max-width:380px)
{
.klb-bx {
    width: 239px;
}
.klb-bx:nth-child(2n) {
    width: 142px;
}
.klb-bx h4 {
    font-size: 12px;
    padding: 10px;
}
.kolabs-sld .slick-list {
    padding-right: 22% !important;
    transform: translate3d(-28px,0,0px);
}
.single-hiw-new .hiw-icon img {
    max-width: 190px;
}
}
